body {
	margin-bottom: 500px;
}
.page-header {
	margin-top: 0;
	box-sizing: border-box;
	background-color: #ff9800;
}
.page-header h1 {
	margin: 0;
}

.addRestaurant img {
	border-radius: 80px 80px 80px 80px;
}
.result-text>h4:nth-child(2) {
	position: relative;
	left: 20px;
}
.result-text>h4:nth-child(3) {
	position: relative;
	left: 30px;
}
.result-text>h4:nth-child(4) {
	position: relative;
	left: 40px;
}

.restaurant-block {
	margin-top: 15px;
	padding-bottom: 8px;
	outline: solid 2px grey;
	box-shadow: 
}

/*Results Styling*/
.results {
	margin-top: 20px;
}
.results img {
	float: left;
	width: 160px;
}
.results>div>div {
	padding-top: 50px;
}
/*End results styling*/

.review h4 {
	display: inline-block;
}
.review li {
	padding: 0px 15px;
}
