body {
	margin-bottom: 50px;
}

/*Results Styling*/
.results {
	margin-top: 20px;
}
.results img {
	float: left;
	width: 160px;
}
.results>div>div {
	padding-top: 50px;
}
/*End results styling*/

.review h4 {
	display: inline-block;
}
.review li {
	padding: 0px 15px;
}